 body{
   background-color: #D98CF4;
   font-size: 20px;
   font-family:arial,helvetica,sans-serif;
   text-align: center;

 }

 h1{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 50px;
    text-shadow: 13px 13px 19px rgba(18,40,206,0.81)
}

 nav{
   background: #CB5CB1;
   height:50px;
 }

 nav ul li{
      float: left;
      list-style: none;
      margin: 10px;

 }

 .clearfix{
       clear:both;
  }

 h2{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;

 }

 h3{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
 }

  p{
    font-family: 'Fuzzy Bubbles', cursive;
  }

 h4{
  font-size: 20px;

 }
 .seccion1{
      position:relative;
 }

 .texto{

 }

.seccion2 h3{
     font-size: 20px;
}

 img{
   width: 300px;
   height: 200px;
   border: dotted;
   background-color: black;
   box-shadow: 5px 5px 15px 5px #0C14C4;
   
}

 footer{
      width: 100px;
      height: 50px;
      font-family: 'Fuzzy Bubbles', cursive;
      text-align:left;

 }
